// *,
// *::after,
// *::before {
//   box-sizing: inherit;
// }

// * {
//   -webkit-tap-highlight-color: transparent;
// }

// header,
// footer {
//   flex: 0 0 auto;
// }

// main {
//   flex: 1 0 auto;
// }

// html {
//   box-sizing: border-box;
//   width: 100%;
//   min-height: 100vh;
//   padding: 0;
//   margin: 0;
// }

body {
  position: relative;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothiposition: relative;
}

// img,
// video,
// iframe {
//   max-width: 100%;
// }

// a {
//   text-decoration: underline;

//   &:hover {
//     text-decoration: none;
//   }
// }

// h1, h2, h3, h4, h5, h6, ul {
//     margin: 0;
//     padding: 0;
// }